apiVersion: v1
kind: Service
metadata:
  name: minio
  namespace: openshift-logging
  annotations:
    argocd.argoproj.io/sync-wave: "7"
spec:
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
